<table *ngIf="reservations" border="1">
	<thead>
		<tr>
			<th>Reservation ID</th>
			<th>User Name</th>
			<th>Boat</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Itinerary</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let r of reservations; let i=index;" (click)="onSelect(r)" [class.selected]="r === selected">
			<td>{{ r.reservationId }}</td>
			<td>{{ r.userName }}</td>
			<td>{{ r.boatName }}</td>
			<td>{{ r.startTime }}</td>
			<td>{{ r.endTime }}</td>
			<td>{{ r.itinerary }}</td>
		</tr>
	</tbody>
</table>
<div *ngIf="selected">
	<h2>{{ selected.boatName }} - {{ selected.userName }} - {{ selected.startTime }}</h2>
	<button (click)="goToDetail()">View Details</button>
</div>
<div>
	<p><label>User Name: </label><input [(ngModel)]="newReservation.userName" placeholder="Username"></p>
	<p><label>Boat: </label><input [(ngModel)]="newReservation.boatName" placeholder="Boat Name"></p>
	<p><label>Start Time: </label><input type="datetime-local" [(ngModel)]="newReservation.startTime"></p>
	<p><label>End Time: </label><input type="datetime-local" [(ngModel)]="newReservation.endTime"></p>
	<p><label>Itinerary: </label><input [(ngModel)]="newReservation.itinerary" placeholder="Itinerary"></p>
	<button (click)="add(newReservation)">Add</button>
</div>